body {
    padding: 25px;
    font-family: 'Montserrat', sans-serif;
}

pre {
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}

h1,h2 {
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: xx-large;
}
h2 {
    font-size: large;
}

p {
    font-family: 'Montserrat', sans-serif;
}