body {
    padding: 25px 25px 25px 25px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: black;

}


pre {
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}

.section {
    vertical-align: middle;
    margin-top: 18px;
}

h1,h2,h4 {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
}

h1{
    font-size: 30px;
    text-shadow: darkgray;
    margin: 0;
    padding-bottom: 40px;
    color: rgb(201, 201, 201);
}
h2 {
    font-size: 25px;
    padding: 0;
    margin: 0;
}

h4{
    color: red;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    margin: 0 0 10 px 0;

}

strong {
    margin-top: 25px;
}

.myChart{
    background-color: black;
    width: auto;
}