body {
    padding: 25px 25px 25px 60px;
    font-family: 'Montserrat', sans-serif;

}

pre {
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}

h1,h2 {
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 45px;
    text-shadow: darkgray;

}
h2 {
    font-size: 80px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: medium;

}